<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OnlineShopDbContext" connectionString="metadata=res://*/DAL.OnlineShopModel.csdl|res://*/DAL.OnlineShopModel.ssdl|res://*/DAL.OnlineShopModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MY-PC\SQLEXPRESS;initial catalog=OnlineShopDb;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>